body {
    width: 100%;
    height: 100%;
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.title_event {
    display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
    color: #000;
}

.CattoBorderRadius
{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}